[submodule "/Users/Chika/proj_todai-asahi/build_input"]
	path = /Users/Chika/proj_todai-asahi/build_input
	url = https://github.com/iamchica/data_todai-asahi.git
[submodule "/Users/Chika/proj_todai-asahi/data_todai-asahi"]
	path = /Users/Chika/proj_todai-asahi/data_todai-asahi
	url = https://github.com/iamchica/data_todai-asahi.git
[submodule "/Users/Chika/proj_todai-asahi/build_input/data_todai-asahi"]
	path = /Users/Chika/proj_todai-asahi/build_input/data_todai-asahi
	url = https://github.com/iamchica/data_todai-asahi.git
[submodule "build_input/data_todai-asahi"]
	path = build_input/data_todai-asahi
	url = https://github.com/iamchica/data_todai-asahi.git
