[submodule "/Users/Chika/proj_todai-asahi/build_input"]
	path = /Users/Chika/proj_todai-asahi/build_input
	url = https://github.com/iamchica/data_todai-asahi.git
[submodule "build_input"]
	path = build_input
	url = https://github.com/iamchica/data_todai-asahi.git
